<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<% content_for :header_class, 'full-background' %>
<% content_for :hero_class, 'no-bg' %>
<% content_for :hero_size, 'hero-medium' %>
<% content_for :hero_title, "Welcome to Hacienda del Mar".html_safe %>
<% content_for :lede, "Private and Quiet Escape in Las Conchas".html_safe %>

<section class="scallop-top top-padding-by-3 main-content light-grey-bg-color">
    <div class="layout-container layout-centered">
        <div class="property-search margin-top-by-28 margin-bottom-by-20">
            <form class='gw no-gutter'>
                <fieldset class="g sm-one-whole md-five-twelfths">
                    <label class="is-visually-hidden">Rooms</label>
                    <div class="select-style">
                        <select name="id" id="select-drop" value="">
                            <option disabled selected class="drop-options" >Rooms</option>
                            <option id="HCNDA" value="1911-89478" class="drop-options" >Any</option>
                            <option id="HCNDA" value="1911-89478" class="drop-options" >Entire Complex</option>
                            <option id="HPLCN" value="1911-89481" class="drop-options">El Pelicano</option>
                            <option id="HSALA" value="1911-89483" class="drop-options">La Sala</option>
                            <option id="HPLMA" value="1911-89482" class="drop-options">La Paloma</option>
                            <option id="HCHUP" value="1911-89477" class="drop-options">La Chuparosa</option>
                            <option id="HCRT1" value="1911-89479" class="drop-options">Courtyard 1</option>
                            <option id="HCRT2" value="1911-89480" class="drop-options">Courtyard 2</option>
                            <option id="HAGUI" value="1911-112148" class="drop-options">La Aguila</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset class="g sm-one-third md-one-seventh">
                    <input id="start_date" class="no-borders datepicker" type="text" name="start_date" placeholder="Arrive">
                </fieldset>
                <fieldset class="g sm-one-third md-one-seventh">
                    <input id="end_date" class="no-borders datepicker" type="text" name="end_date" placeholder="Depart">
                </fieldset>
                <fieldset class="g sm-one-fourth md-one-eighth text-align-right">
                    <label class="is-visually-hidden" for="guests">Guests</label>
                    <div class="select-style">
                        <select name="guests" id="guests">
                            <option disabled selected>Guests</option>
                            <option value="all">Any</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </fieldset>
                <footer class="g md-two-twelfths">
                  <input class="btn btn--brown no-min-width max-width search-btn" type="button" value="Search">
                </footer>
            </form>
        </div>
    </div>
</section>
<section class="bottom-padding-by-5 light-grey-bg-color">
  <div class="layout-container margin-0 padding-right-20-px">
    <h1 class="after-heading-underline text-align-center font-family-open-sans">The Rooms We Offer</h1>
    <div class="md-one-whole sm-one-whole lg-one-whole left-padding-by-5 slider5">
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/5665740489.jpg" width="100%">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>Courtyard 1</h1>
            <p class="color-light-grey">Courtyard 1 is a room located at Hacienda del Mar. Courtyard 1 sleeps 2 people. It has a queen size bed, private bath, heat, AC, ceiling fan, and access to a common sitting room. Hacienda del Mar is a seven-unit hacienda style home situated in the gated community of Las Conchas. Rooms can be rented individually or in any combination to accommodate groups up to 15 people.</p>
            <span class="italic-light-color text-larger bg-white">From $350/night</span>
            <a href="/accommodations/1911-89479?start_date=&end_date=&guests="><span class="margin-top-book-now italic-brown-color float-right margin-right-by-2 text-larger">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/6630860531.jpg">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>La Chuparosa</h1>
            <p class="color-light-grey">La Chuparosa is a room located at Hacienda del Mar. La Chuparosa sleeps 2 people and is beautifully designed with boveda ceilings and fireplace. It has a queen size bed, private bath, heat, AC, ceiling fan, and outside veranda sitting area. Hacienda del Mar is a seven-unit hacienda style home situated in the gated community of Las Conchas.</p>
            <span class="italic-light-color text-larger bg-white">From $350/night</span>
            <a href="/accommodations/1911-89477?start_date=&end_date=&guests=all"><span class="italic-brown-color float-right margin-right-by-2 text-larger margin-top-book-now">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/6039020158.jpg">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>La Aguila</h1>
            <p class="color-light-grey">Aguila is a one bedroom, one bath Casita for 2, The Bedroom with panoramic views has a queen size bed, full private bath with tub, there is a fully equipped kitchen including dishwasher, coffee maker, blender, microwave. This beautiful casita is the main quarters of the house and it includes a beautiful Mexican style kitchen bar with Mexican decorated bar-stools a dining table for 4, two Flat screen TV's with DirecTV box in each room, brand new A/C and Heat.</p>
            <span class="italic-light-color text-larger bg-white">From $350/night</span>
            <a href="/accommodations/1911-112148?start_date=&end_date=&guests="><span class="margin-top-book-now italic-brown-color float-right margin-right-by-2 text-larger">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/7147550489.jpg">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>Courtyard 2</h1>
            <p class="color-light-grey">
              Hacienda del Mar is a seven-unit hacienda style home situated in the gated community of Las Conchas. Rooms can be rented individually or in any combination to accommodate groups up to 15 people. Each room, or unit, has been given a name, and each has a painted ceramic "name-tile" mounted by the door to keep everyone oriented.</p>
            <span class="italic-light-color text-larger bg-white">From $350/night</span>
            <a href="/accommodations/1911-89480?start_date=&end_date=&guests=all"><span class="italic-brown-color float-right margin-right-by-2 text-larger margin-top-book-now">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/8702230763.jpg">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>El Pelicano</h1>
            <p class="color-light-grey">
              Pelicano is a one bedroom one bath guesthouse that sleeps up to 3. The bedroom has a queen size bed; the living room has a fireplace and single roll-away bed. The fully equipped kitchen includes a coffee maker, blender, microwave and dishwasher. Other amenities include heat, AC and ceiling fans. Rates are for 1-2 persons, $10 additional per extra person Hacienda del Mar is a seven-unit hacienda style home situated in the gated community of Las Conchas.</p>
            <span class="italic-light-color text-larger bg-white">From $350/night</span>
            <a href="/accommodations/1911-89481?start_date=&end_date=&guests=all"><span class="italic-brown-color float-right margin-right-by-2 text-larger margin-top-book-now">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/1613760763.jpg">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>La Sala</h1>
            <p class="color-light-grey">
              La Sala is a second-story studio. It Sleeps 2 people. It has a queen size bed an a couch. La Sala has a kitchenette and kitchen appliances including coffee maker, microwave, and refrigerator. Other amenities include; fireplace, boveda ceiling, heat, AC, ceiling fans, and outside veranda sitting area. Rooms can be rented individually or in any combination to accommodate groups up to 15 people.</p>
            <span class="italic-light-color text-larger bg-white">From $400/night</span>
            <a href="/accommodations/1911-89483?start_date=&end_date=&guests=all"><span class="italic-brown-color float-right margin-right-by-2 text-larger margin-top-book-now">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/6382770396.jpg">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>La Paloma</h1>
            <p class="color-light-grey">
              La Paloma is a room located at Hacienda del Mar. It sleeps 2 people and is beautifully designed with boveda ceilings and fireplace. It has a queen size bed, private bath, heat, AC, ceiling fan, and outside veranda sitting area. Hacienda del Mar is a seven-unit hacienda style home. Rooms can be rented individually or in any combination to accommodate groups up to 15 people. Each room, or unit, has been given a name, and each has a painted ceramic "name-tile" mounted by the door to keep everyone oriented.</p>
            <span class="italic-light-color text-larger bg-white">From $450/night</span>
            <a href="/accommodations/1911-89482?start_date=&end_date=&guests=all"><span class="italic-brown-color float-right margin-right-by-2 text-larger margin-top-book-now">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="top-padding-by-5 bottom-padding-by-5">
  <div class="layout-container margin-0 ">
    <div class="one-whole">
      <h1 class="after-heading-underline font-family-open-sans">What Our Guests Says</h1>
    </div>
    <div class="one-whole">
      <div class="content md-one-half float-left font-family-open-sans">
        <div class="md-two-twelfths float-left">
          <img alt="" src="http://demo.inspiretheme.com/templates/paradise/images/Demo/elements/customer1.jpg" width="80" height="80" class="img-circle">
        </div>
        <div class="content md-ten-twelfths float-left">
          <p class="align-left margin-top-0 color-light-grey">Proin ante purus, malesuada vel consectetur eget, ullamcorper id sem. Sed lacinia, orci a rhoncus dignissim, risus metus accumsan nulla, sit amet id mi non quam congue venenatis et at lorem.</p>
          <div class="one-whole float-left"><span class="bolded-left-text">Anthony Welch</span></div>
          <div class="one-whole align-left"><span class="italic-light-color float-left">Marketing -</span><span class="italic-brown-color float-left"> Travel Inc.</span></div>
        </div>
      </div>
      <div class="content md-one-half float-left font-family-open-sans">
        <div class="md-two-twelfths float-left">
          <img alt="" src="http://demo.inspiretheme.com/templates/paradise/images/Demo/elements/customer2.jpg" width="80" height="80" class="img-circle">
        </div>
        <div class="content md-ten-twelfths float-left">
          <p class="align-left margin-top-0 color-light-grey">Lorem ipsum dolor sit amet, conse adipiscing elit. Maecenas mauris orci, pellentesque at vestibulum quis, porttitor eget turpis lobortis nunc quis metus id mi non quam congue venenatis et at lorem.
          </p>
          <div class="one-whole float-left"><span class="bolded-left-text">Brian Thomson</span></div>
          <div class="one-whole align-left"><span class="italic-light-color float-left">Sales Manager -</span><span class="italic-brown-color float-left"> Vacations Limited</span></div>
        </div>
      </div>
    </div>
    <div class="one-whole padding-top-15">
      <div class="content md-one-half float-left font-family-open-sans">
        <div class="md-two-twelfths float-left">
          <img alt="" src="http://demo.inspiretheme.com/templates/paradise/images/Demo/elements/customer3.jpg" width="80" height="80" class="img-circle">
        </div>
        <div class="content md-ten-twelfths float-left">
          <p class="align-left margin-top-0 color-light-grey">In semper magna sed magna consectetur interdum nec et tortor. Duis lobortis nunc quis metus iaculis consequat tincidunt eros accumsan morbi id mi non quam congue venenatis et at lorem.
          </p>
          <div class="one-whole float-left"><span class="bolded-left-text">Victoria Christopher</span></div>
          <div class="one-whole align-left"><span class="italic-light-color float-left">Designer -</span><span class="italic-brown-color float-left"> Holiday & SPA</span></div>
        </div>
      </div>
      <div class="content md-one-half float-left font-family-open-sans">
        <div class="md-two-twelfths float-left">
          <img alt="" src="http://demo.inspiretheme.com/templates/paradise/images/Demo/elements/customer4.jpg" width="80" height="80" class="img-circle">
        </div>
        <div class="content md-ten-twelfths float-left">
          <p class="align-left margin-top-0 color-light-grey">Donec tincidunt metus et lorem feugiat tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac felis enim. Maecenas ut quam eget nunc id mi non quam congue venenatis.
          </p>
          <div class="one-whole float-left"><span class="bolded-left-text">Gerry Brooks</span></div>
          <div class="one-whole align-left"><span class="italic-light-color float-left">Accountant -</span><span class="italic-brown-color float-left"> Delivery & Co</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="memories-img top-padding-by-5 bottom-padding-by-5">
  <div class="layout-container margin-0">
    <div class="one-whole">
    <div class="content md-one-half float-left font-family-open-sans">
      <h1 class="after-heading-underline font-family-open-sans">Memories From Hacienda del Mar</h1><p class="g-memories-desc font-family-open-sans">Sed hendrerit quam sed ante euismod posu. Mauris ut elementum ante. Vestibuel suscipit convallis purus mattis magna sapien, euismod convallis sagittis quis euismod posu.Vivamus id mi non quam congue venenatis et at lorem. Ut ullamcorper odio id metus eleif tincidunt. Proin ante arcu, aliquam nec rhon sit amet, consequat vitae suscipit magna. Sed hendrerit quam sed ante euismod posu. Mauris ut elementum ante. Vivamus id mi non quam congue venenatis et at lorem. Ut ullamcorper odio id metus eleif tincidunt consequat vitae suscipit magna. Maecenas mauris orci, pellentesque at vestibulum quis.</p>             </div>
    <div class="content md-one-half float-left left-padding-by-5">
      <div class="content one-half float-left">
      <img alt="" src="http://demo.inspiretheme.com/templates/paradise/images/Demo/elements/gallery1.jpg" class="tilt-image-by-7 img-border-5px">
      </div>
    <div class="content one-half float-left">
      <img alt="" src="http://demo.inspiretheme.com/templates/paradise/images/Demo/elements/gallery2.jpg" class="tilt-image-by-minus-10 img-border-5px">
    </div>
    <div class="content one-half float-left">
        <img alt="" src="http://demo.inspiretheme.com/templates/paradise/images/Demo/elements/gallery3.jpg" class="tilt-image-by-minus-16 img-border-5px">
    </div>
    <div class="content one-half float-left">
        <img alt="" src="http://demo.inspiretheme.com/templates/paradise/images/Demo/elements/gallery4.jpg" class="tilt-image-by-13 img-border-5px">
    </div>
    </div>
    </div>
  </div>
</section>